@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  user-select: none;
  outline: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: none;
  /* cursor:none; */
  
   /* outline: 1px solid #f00 !important; */
}
#cursor {
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1111;
  /* mix-blend-mode:difference; */
  pointer-events: none;
  transition: 0.1s linear;
}
::-webkit-scrollbar {
  width: 0;
}
.banner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  border-right:1px solid gray;
  z-index: 2111;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: banner 1s forwards ;
  animation-delay: 2s;
}
@keyframes banner {
  100%{
    transform: translateX(-100%);
  }
}
.particles {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1000;
  opacity: 0.4;
  width: 100vw;
}
body {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
header {
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 15vh;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.logo {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: letter-spacing 0.5s;
}
.logo:hover {
  letter-spacing: 2px;
}
.nav-links {
  display: flex;
  width: 20%;
  justify-content: space-between;
  margin-right: 4vw;
  font-size: 1rem;
}
.nav-links a {
  font-weight: 500;
}
.menuImg {
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url(./menu.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
  bottom: 0vh;
  z-index: 2;
  transition: background-image 0.5s ease-out;
  cursor: pointer;
}
.menu {
  height: 0;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0vh;
  transition:  0.5s ease-out;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-first,
.menu-second {
  width: 40%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: yellowgreen; */
}

.menu-second a {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2vh;
  position: relative;
  transition: letter-spacing 0.5s;
}
.menu-second a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}
.menu-second a:hover {
  letter-spacing: 2px;
}
.menu-second a:hover::after {
  width: 100%;
}
.download-resume {
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}
.home {
  height: 100vh;
}
.slide {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.intro {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  min-height: 90vh;
  /* background-color: red; */
}
.devdesign {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.designer {
  background: url("./textbackground.gif");
  font-weight: 700;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.5rem;
}

.slide-heading {
  font-size: 2.7rem;
  font-weight: 500;
  position: absolute;
  top: 3vh;
  left: 4vw;
}
.about-flex{
  display: flex;
  padding-top: 15vh;
  height: 95vh;
  align-items: center;
  justify-content: center;
  
}
.about-image-container,.about-text-container{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-image-container{
  width: 40%;
}
.about-image{
  width: 300px;
  border-radius: 50%;
  
}
.about-text{
  width: 80%;
}

.tools-container {
  position: absolute;
  width: 40%;
  height: 47vh;
  top: 27%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  justify-content: space-evenly;
}
.tool {
  display: flex;
  align-items: center;
}
.tool-name {
  position: absolute;
  right: 0;
  margin-left: 1vw;
  font-weight: 500;
  font-size: 1.2rem;
}
.progress {
  background-color: black;
  height: 7px;
  width: 280px;
}
.preferred-stack {
  position: absolute;
  bottom: 9vh;
  font-weight: 500;
  font-size: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: space-evenly;
  width: 90%;
  justify-content: space-evenly;
}
.preferred-stack span {
  display: flex;
  align-items: center;

  /* background-color: red; */
}
.preferred-icon {
  margin-left: 5px;
}
.projects-flex {
  display: flex;
  flex-direction: column;
  width: 90vw;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20vh;
  min-height: 320vh;
  padding-bottom: 30vh;
}

.project,
.seemore {
  /* border: 1px solid black; */
  height: 60vh;
  /* width: 24vw; */
  width: 800px;
  border-radius: 25px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.774);
  color: white;
  background-color: rgb(51, 51, 51);
  transition: 0.5s ease-in-out;
  /* overflow: hidden; */
  cursor: pointer;
  margin-bottom: 7vh;
}
.project {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.project-img-container {
  position: absolute;
  border-radius: 10px;
  left: 65%;
  height: 60%;
  bottom: 50%;
  transform: translateY(50%);
  border: 1px solid black;
  overflow: hidden;
}
.project img {
  height: 100%;
}
.project-img-container:hover .project-img-cover{
  background-color:rgba(0, 0, 0, 0.603) ;
  color: white;
}
.project-img-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:transparent ;
  
  transition:  0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: transparent;
}
.project::after {
  content: "";
  position: absolute;
  /* bottom: 0px; */
  top: 98%;
  width: 100%;
  height: 10px;

  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow: hidden;
  background-image: linear-gradient(to right, purple, cyan, yellow);
  background-size: 200%;
  animation: after-animate 2s linear infinite alternate;
}
@keyframes after-animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.seemore {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid gray;
  background-image: url("./afterbackground.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  width: 500px;
  transition: 0.5s;
  letter-spacing: 2px;
  height: 10vh;
  bottom: 11vh;
}

.seemore:hover {
  letter-spacing: 3px;
  color: black;
}
/* .seemore::after{
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 7px;
  overflow: hidden;
  background-image: url('./afterbackground.gif');
  background-position: 50%;
  transform: translateZ(-2px);
} */

.seemore {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
}
.project-name {
  position: absolute;
  top: 8vh;
  left: 3vw;
  font-size: 1.6rem;
  font-weight: 600;
}
.project-des {
  font-size: 1.1rem;
  width: 50%;
  position: absolute;
  top: 18vh;
  left: 4vw;
  font-weight: 400;
}
.project-tools {
  width: 85%;
  position: absolute;
  bottom: 4vh;
  left: 2vw;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
}
.project-tool {
  margin-right: 8px;
}

.slide-subheading {
  position: absolute;
  top: 14vh;
  left: 4vw;
  font-weight: 400;
  font-size: 1.3rem;
}
.contact-flex {
  display: flex;
  height: 70vh;
  width: 90%;
  /* background-color: red; */
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
}
.social-flex,
.contact-form-flex {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 70vh;
  /* background-color: khaki; */
}
.contact-form-flex {
  align-items: center;
}
.contact-form {
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  flex-direction: column;
  height: 60vh;
}
.contact-form input,
.textarea {
  padding: 0.3rem 0.4rem;
  font-size: 1rem;
  border: none;
  border-radius: 7px;
  border: 1px solid black;
  font-weight: 600;
}
.contact-form button {
  width: 80px;
  height: 30px;
  border: none;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  background-color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.contact-form button:hover {
  letter-spacing: 2px;
  width: 90px;
}
.textarea {
  height: 20vh;
  width: 300px;
}
.social-flex {
  /* background-color: lightcoral; */
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  height: 40vh;
}
.copy {
  background-color: black;
  color: white;
  height: 35px;
  width: 35px;
  padding: 0.3em 0.4em;
  border-radius: 6px;
  margin-left: 1vw;
  font-size: 1.1rem;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  position: relative;
}
.copy-tooltext {
  position: absolute;
  background-color: black;
  padding: 0.3rem 0.5rem;

  width: max-content;
  border-radius: 7px;
  left: 115%;
  font-size: 0.8rem;
  opacity: 0;
  /* visibility: hidden; */
  transition: 0.4s;
}
.copy:hover .copy-tooltext {
  opacity: 0.9;
}

.social-flex a,
.email {
  border: 1px solid black;
  border-radius: 7px;
  padding: 0.3rem 0.4rem;
  color: black;
  width: max-content;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  display: inline-flex;
}

.social-flex a:hover {
  letter-spacing: 2px;
}

.page-heading {
  font-size: 2.7rem;
  font-weight: 500;
  position: relative;
  margin-left: 8vw;
  margin-top: 7vh;
  /* top: 21vh;
  left: 8vw; */
}

.projects-icons {
  position: relative;
  width: 100%;
  font-size: 6.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10vh;
}
.react-icon {
  animation: react 4s linear infinite;
  transform-origin: center, center;
}
@keyframes react {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.projects-page-grid {
  height: auto;
  position: relative;
  margin-top: 12vh;
  margin-bottom: 11vh;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}



@media only screen and (max-width:1400px) {
  
  .project{
    height: 50vh;
  }
  .project-img-container{
    height: 50%;
  }
}
@media only screen and (max-width:1100px) {
  .projects-flex{
    /* margin-left: 3vw; */
    width: 100vw;
    padding-bottom: 25vh;
  }
  .seemore{
    bottom: 4vh;
  }
  .tools-container{
    width: 60%;
  }
  .project{
    height: auto;
    width: 90vw;
    min-height: 80vh;
   
  }
  .project-des{
    width: 80%;
  }
  .project-img-container{
    position: relative;
    /* top: 0; */
    left: 50%;
    bottom: 0;
    top: 33vh;
    transform: translateX(-50%);
    width: max-content;
  border-radius: 20px;

  }
  .project img{
    /* height: 35vh; */
    width: 80vw;
  }
  .contact-flex{
    flex-direction: column-reverse;
    height: 120vh;
  }
  .contact-form{
    height: 50vh;
  }
  .contact-form input,.textarea{
    font-size: 150%;

  }
  .contact-form button{
    font-size: 120%;
    width: max-content;
    height: max-content;
    padding: 0.3rem 0.5rem;
  }
  .textarea{
    width: 100%;
  }
  .social-flex{
    width: 50%;
    margin-left: 10%;
  }
}

@media only screen and (max-width:800px) {
  header{
    height: 10vh;
  }
  .project img{
    height: auto;
    width: 80vw;
  }
  .seemore{
    width: 60vw;
    height: 7vh;
    border-radius: 19px;
  }
  .project{
    min-height: 75vh;
  }
  .about-flex{
    flex-direction: column;
    padding-top: 25vh;
    padding-bottom: 15vh;
  }
  .about-text-container{
    margin-top: 10vh;
    width: 80%;
    font-size: 110%;
  }
  .tools-container{
    width: 70%;
  }
    .social-flex{
      width: 100%;
      margin-left: 0vw;
      padding-left: 20vw;
    }
}
@media only screen and (max-width:650px) {
  .project{
    min-height:70vh;
  }
  .tools-container{
    width: 90%;
  }
  .about-image{
    width: 35vw;
  }
  .copy-tooltext{
    left: -150%;
    
    top: 120%;
    
  }
}


@media only screen and (max-width:520px) {
  
  .project-img-container{
      top: 36vh;
  }
  .tool-name{
    font-size: 90%;
  }
  .preferred-stack{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    bottom: 7vh;
  }

  .projects-flex{
    
    padding-bottom: 19vh;
  }
  .seemore{
    bottom: 1vh;
  }
  .contact-form-flex{
    width: 100%;
  }

  .social-flex{
    width: 100%;
    margin-left: 0vw;
    padding-left: 10vw;
  }
  .about-flex{
    flex-direction: column;
    padding-top: 55vh;
    padding-bottom: 40vh;
  }
  .tools-container{
    width: 85%;
  }
  
}

@media only screen and (max-width:450px) {
  .social-flex{
    font-size: 90%;
  }
  .about-text{
    width: 95%;
  }
  .progress{
    width: 10%;
  }
  .project-tools{
    font-size: 80%;
  }
  .contact-form input,.textarea{
    font-size: 90%;
  }
  .textarea{
    height: 16vh;
  }
  .contact-form button{
    font-size: 90%;
  }
  .progress{
    transform-origin: left;
    transform: scaleX(0.8);
  }
}
@media only screen and (max-width:400px) {
  .progress{
    transform: scaleX(0.7);
  }
}
@media only screen and (max-width:360px) {
  .tools-container{
    width: 95%;
  }
  .social-flex{
    padding-left: 0;
  }
  .social-flex div .email,a{
    font-size: 80%;
  }
}